html
{
	margin: 0px;
	scroll-behavior: smooth;
}

body
{
	/*background: url(background.png) #101010;
	background-size: cover;*/
	background:#f6f6f6;
	margin: 0px;
}

h2	
{
	text-align: center;
}

a
{
	color: inherit;
}

.content
{
	display: flex;
	flex-direction: column;
}

.art-wrapper
{
	order: 1;
	position: relative;
	display: flex;
	justify-content: center;
}

#topart
{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	height: 50vh;
	background-image: url("PS/Journey/img.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px 0px 5px 5px;
	margin-top: 0;
/*	position: relative;*/
	filter: brightness(100%);
	transition: all 0.5s;
}

#topart:hover
{
	filter: brightness(70%);
}

.cover-text
{

	width: 100%;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 3rem; 
	color: #E11952;
	display: inline-block;
	white-space: nowrap;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    width: 100%;
    height: 30px;
    text-align: center;
    transition: all 0.5s;
}

#top-str
{
	max-width: 100%;
    max-height: 100%;
}


.layout-center
{
	order: 2;
	position: relative;
	max-width: 1190px;
	margin: 20px auto;
}


.rev-wrapper
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr; 
	/*max-height: 600px;*/
}

.rev-container
{
/*	background-color: rgba(16, 16, 16, 0.5);*/
	margin-right: 10px;
	border-radius: 10px;
}
.rev-1, .rev-2, .rev-3, .rev-4, .rev-5, .rev-6
{
	margin-top: 1rem;
	margin-left: 1rem;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#rev1, #rev2, #rev3, #rev4, #rev5, #rev6
{
	background-image: url("PS/Journey/img.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	width: 600px;
	border-radius: 10px;
	z-index: 1;
}

.rev-2
{
	grid-column:2/3;
	grid-row: 1/2;
}

#rev2
{
	background-image: url("PS/Demon-souls/img.jpg");
}

.rev-3
{
	grid-column:1/2;
	grid-row: 2/3;
}

#rev3
{
	background-image: url("PS/Spiderman/img.jpg");
}

.rev-4
{
	grid-column:2/3;
	grid-row: 2/3;
}

#rev4
{
	background-image: url("PS/God of War/img.jpg");
}

.rev-5
{
	grid-column:1/2;
	grid-row: 3/4;
}

#rev5
{
	background-image: url("PS/Uncharted/img.jpg");
}

.rev-6
{
	grid-column:2/3;
	grid-row: 3/4;
}

#rev6
{
	background-image: url("PS/Ghost of Tsushima/img.png");
}

.rev-box div
{
	margin: 0 auto;
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
}

.section-background
{
	order: 3;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	height: 600px;
	background-image: url("imgs/next-gen.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}

.layout-center
{
	position: relative;
	max-width: 1300px;
	margin: 50px auto;
}

.section-container
{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr; 
	gap:20px;
}

.section1
{
	background-color: rgba(228, 226, 227, 1);
	grid-column: 1/2;
	grid-row: 1/2;
	position: relative;
	transition: box-shadow .5s;
}

#PC, #PS, #XBOX
{
	z-index: 100;
	background-image: url("sections/PC.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 250px;
	height: 500px;
}

.section2
{
	background-color: rgba(228, 226, 227, 1);
	grid-column: 2/3;
	grid-row: 1/2;
	position: relative;
	transition: box-shadow .5s;
}

#PS
{
	background-image: url("sections/PS.png");
}

.section3
{
	background-color: rgba(228, 226, 227, 1);
	grid-column: 3/4;
	grid-row: 1/2;
	position: relative;
	transition: box-shadow .5s;
}

#XBOX
{
	background-image: url("sections/XBOX.png");
}

.section-text
{
	position: absolute;
	width: 100%;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 3rem; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    margin-top: 400px;
    text-align: center;
    transition: all 0.5s;
}

.section1:hover, .section2:hover,.section3:hover
{
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

@media only screen and (max-width: 960px)
{ /*Small screens start*/
.rev-wrapper
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr); 
	max-height: 600px;
}

.rev-1
{
	display: grid;
	grid-row: 1/2;
}
#rev1
{
	height: 200px;
	width: 400px;
}

.rev-2
{
	display: grid;
	grid-row: 2/3;
}

#rev2
{
	height: 200px;
	width: 400px;
}

.rev-3
{
	display: grid;
	grid-row: 3/4;
}

#rev3
{
	height: 200px;
	width: 400px;
}

.rev-4
{
	display: grid;
	grid-row: 4/5;
}

#rev4
{
	height: 200px;
	width: 400px;
}

.rev-5
{
	display: grid;
	grid-row: 5/6;
}

#rev5
{
	height: 200px;
	width: 400px;
}

.rev-6
{
	display: grid;
	grid-row: 6/7;
}

#rev6
{
	height: 200px;
	width: 400px;
}

.rev-box div
{
	font-size: 1.2rem;
	text-align: center;
}

.twitter
{
	display: flex;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	order: 3;
}

.section-background
{
margin-top: 1300px;
position: relative;
height: 400px;
}

#PC, #PS, #XBOX
{
	width: 150px;
	height: 300px;
}

.section-text
{
	font-size: 1.5rem;
	margin-top: 250px;
}

/*Small screens finish*/}
.sticky
{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.card
{
	position: relative;
}

.card-body
{
	height: 4em;
	display: flex;
	justify-content: center;

}

.card-text
{
	color: black;
}

.btn-mine
{
	background-color: #815c99;
	border-color: #815c99;
	color: white;
}

.btn-mine:hover
{
	background-color: #E8DBFC;
	color: black;
	border-color: #E8DBFC;
}

.bg-nav
{
	background-color: #2b1357;
	box-shadow: 0 8px 6px -6px black;
}

img
{
	margin-right: 0px;
}

.img-fluid
{
	max-width: 100%;
	height: auto;
	display: block;
	max-height: 100%;
	margin: 0px;
}

footer
{
	background-color: #2b1357;
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 5fr 5fr;
	grid-template-rows: 1fr;
	color: white;
}

footer .footer-info
{
	display: flex;
	margin-top: 1rem;
	grid-column: 1/2;
	grid-row: 1/2;
	align-items: center;
	justify-content: center;
}


.footer-info p
{
margin-left: 1rem; 
}

footer .footer-credits
{
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 800px)
{ /*Small screens start*/
	.rev-box div
	{
		font-size: 0.9rem;
	}
	footer
	{
		font-size: 0.9rem;
	}
}

.non-select
{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}